# Environment variables
.env

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
package-lock.json

# Allure
/allure-results/
/allure-report/

.vscode/

NOTES.md

